

.hidden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #434455;
    background-color: #ffffff
}
/* Reset */


    a { 
    text-decoration: none; 

}
    ul, ol {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    h1, h2,h3, h4, h5, h6, p {
        margin: 0;
    }

    address {
        font-style: normal;
    }
    button {
    cursor: pointer;
}
img {
    display: block;
    max-width: 100%;
    height: auto;

}




.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}

/* common */
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto ;
}
/* TABLET */
@media screen and (min-width:768px) {
.container {
        max-width: 768px;
        
    }
}
/* DISPLEY */
@media screen and (min-width:1158px) {
    .container {
        max-width: 1158px;
            padding: 0 15px;
            margin: 0 auto;
        
    }}

/* Header */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.list-nav, 
.contacts {
    display: none;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}


.header-logo {
    
    padding: 16px 0;
    display: block;
}

.header-logo .logo-part {
    color: #2e2f42;

}
.burger-btn {
    padding: 0;
    margin: none;
    background-color:transparent;

}
.burger-icon {
    display: block;
    fill:  #2f2f37;
}

@media screen and (min-width:768px) {
   
        .burger-btn {
                display: none;



}
.list-nav {
    display: flex;
    align-items: center;
    gap: 40px;
    
}
.header-logo {

    padding: 24px 0;
    margin-right: 120px;
}
.contacts {
    font-style: normal;
    display: block;
}
.header-nav {
    display: flex;
    align-items: center;
}
.link-nav {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.link-nav.current {
    position: relative;
}

.link-nav.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background: #404bbf;
    border-radius: 2px;
}

.contacts{
    font-style: normal;
    display: block;
}
}
.contacts-link {
 display: block;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

} 


.contacts-list {
    display: flex;
  
    gap: 12px; 

}


.link-nav:hover,
.link-nav:focus,
.contacts-link:hover,
.contacts-link:focus,
.link-nav.current {
    color: #404bbf;
}

@media screen and (min-width:1158px) {
.header-logo {

   margin-right: 76px;


    }
        
    
        .contacts-list {
           flex-direction: row;
            align-items: center;
            gap: 40px;
    
        }
                .contacts-link {
                   
                    padding: 24px 0;
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                }
            
    }


/* mobile menu */
.mobile-menu-close{
    border-radius: 50%;
}
.mobile-menu {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 24px 40px 24px  ;
        display: flex;

        flex-direction: column;
        

   
}


.mobile-menu-close{
    margin-left: auto;
}
.mobile-nav {
display: flex;
flex-direction: column;


margin-bottom: auto;

}
.mobile-list-nav{
    gap: 24px;
}
.mobile-item-nav{

    margin-bottom: 40px;
}
.mobile-link-nav{

    
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
color: #2e2f42;
}
.mobile-link-nav:hover,
.mobile-contacts-link:hover{
    color: #404bbf;
}
.mobile-contacts-list{
    
    display: flex;
    flex-direction: column;
   
}

.mobile-contacts-link{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}
.mobile-menu-social-list{
    display: flex;
    align-items: center; 
    justify-content: center; 
    
  
    gap: 40px;
}
.mobile-menu-social-link{

    width: 100% ;
    height: 100% ;
    background-color: #4d5ae5;
    border-radius:50% ;
    display: flex;
    align-items: center; 
    justify-content: center; 
   transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 40px;
  height: 40px;
}
.mobile-menu-social-icons{
    fill: #f4f4fd;
}
.mobile-contacts-item{
    margin-bottom: 24px;
}
.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
   }
  

@media screen and (min-width:768px) {
.mobile-menu{
    display: none;
}}

/* HERO */
.hero {
    
    padding: 112px 0;
    background: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg); 
   text-align:center;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   margin: 0 auto;
   max-width: 1140px;
   margin-bottom: 96px;

}

@media screen and (min-width:768px) {
    .hero{
        margin-bottom: 112px;

    }
}

    

.hero-title {
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin: 0 auto;
    margin-bottom: 72px; 
}

.hero-btn {
    
    margin: 0 auto;
    display: block;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    
    border: none;
    white-space: nowrap;
    cursor: pointer;
    
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    border-radius: 4px;
padding: 16px 32px;
width: 169px;
height: 56px;

}
.hero-btn-click {
    
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px; 
    
        }

.hero-btn:hover, 
.hero-btn:focus {
background-color: #404bbf;
}

@media screen and (min-width:768px) {
    .hero-title{
         font-size: 56px; 
    line-height: 1.07;
    margin-bottom: 48px;
    } 
    }
 
/* section info  */
.info{
    padding: 0 16px;
    margin-bottom: 96px;
}
.containerinfo {
   margin: 0 auto;

}


.info-list {
    display: flex;
    gap: 72px;
    flex-direction: column;
    justify-content: center;
}

.info-item {
   max-width: 288px;
 
}

.info-box{
    display: none;
}

.info-item-title {
    
    
 
    
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
        margin-top: 0;
       
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
    }   

    .info-text {
    

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

    } 



@media screen and (min-width:768px) {
    .info-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px ; 
        
    }
    .info-item {
        width:356px;
    }
    
        


            }

@media screen and (min-width:1158px) {
.info{
    margin-bottom: 120px;  
}
.info-list {
    display: flex;
    justify-content: space-between;
    gap: 24px ; 
    
}
.info-item {
    width: calc((100% - 72px) / 4);
}
.info-box {
    display: flex ;
    align-items: center; 
    justify-content: center;
    height: 112px;
    width: 264px;
    background-color: #f4f4fd; 
    border-radius: 4px; 
    border: 1px solid #8e8f99; 
    
    margin-bottom: 8px; 
}

.info-item-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
display: flex;
justify-content: center;

margin-bottom: 8px;
    margin-top: 0;
}    

}




.team {
    
    background-color: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 96px;
}
    
    .team-container {
    
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
    
    }
    
.our-team {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    
    
}
 .our-team-list {
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 72px;
    } 
    
    .our-team-item {
   
    max-width: 264px;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}


    
    .card-list {
        padding: 32px 0 32px;
    }
   
    .our-team-item-title {
    
        text-align: center;
    
    }
    .our-team-item-text {
       
        text-align: center;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }
    .iconlist {
        display: flex;
    justify-content: center;
    margin-top: 8px;
    gap: 24px;
        
    }
    .iconitem{
    width: 40px; 
        height: 40px;
        background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    .iconlink {
        
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
   
    .iconlink:hover {
    background-color: #404bbf;
    }
    .iconlink:focus {
        background-color: #404bbf;
    }
    .iconicon {
        fill: #f4f4fd;
    }
    
  
    @media screen and (min-width:768px) {
        .our-team-list {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 64px 24px; 
        } }
       
     @media screen and (min-width:1158px) {
        .our-team-list {
        padding-top: 120px;
        padding-bottom: 120px;
        }

      .containerpart{
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
    .portfolio-list{
        gap: 48px 24px;
    }
.portfolio-item{
    box-shadow: none;
    flex-basis: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer{
    padding: 100px 0;
}

.footer-container {
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: center;
    margin: 0 auto;
    padding: 0 15px;
    gap: 0;
}
.footerinfo{
    margin-right: 120px;
}
}

    .form{
        margin-left: 80px;
    }

      


        .containerpart{
            display: flex;
            padding-top: 96px;
            padding-bottom: 96px;
        }

        @media screen and (min-width: 768px) {
            .container {
                max-width: 768px;
            }
            .portfolio-list{
                flex-direction: row;
                flex-wrap: wrap;
                row-gap: 72px;
                column-gap: 24px;
            }

        
            }
        

        .portfolio-title {

            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-align: center;
            color: #2e2f42;
            text-transform: capitalize;
            margin-bottom: 72px; 
            
        }  
          .portfolio-list {
            display: flex;
            flex-wrap: wrap ;
           column-gap: 24px;
            row-gap: 48px; 
             justify-content: space-between;
        }

        .portfolio-item  {
            max-width: 264px;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.thumb {
position: relative;
overflow: hidden;

}
          .phototext {
        position: absolute;
        top: 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding: 40px 32px;
        background-color: #4d5ae5;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }   
        .portfolio-item-title{
        
         

            margin-bottom: 8px;
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #2e2f42;
        }

        
        
        .portfolio-item-text {
        
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
            margin: 0;
        }
    
        

.portfolio-item:hover  {
    
        box-shadow:
            0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover .phototext {
transform: translateY(0%);

}
 

    .page-footer{
        padding: 96px 0;
    background-color: #2e2f42;
    }
    .footer-container{
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
    }

    @media screen and (min-width: 768px) {
        .footer-container {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: baseline;
            justify-content: flex-start;
            margin-left: 108px;
            padding: 0;
            row-gap: 72px;
            column-gap: 24px;
    }
    .footer-logo{
        max-width: 264px;
        justify-content: flex-start;
    }
    .footer-text{
        max-width: 264px;
    }
   .texttext{
    text-align: left;
   }
   .iconlinklink{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
   }
   .footermodal{
    display: inline-block;
    }
    .subscribe{
        text-align: left;
    }

    .submit{
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal{
        width: 408px;
        min-height: 584px;
        
    }
}
    

  

    

    .footerinfo {
        /* margin-right: 120px */
        display: flex
;
    flex-wrap: wrap;
    justify-content: center;

    }
    .footer-logo {
     display: inline-block; 
       margin-bottom: 16px;
       color: #4d5ae5;
    
    

    }
     .logo-part {
        color: #f4f4fd;
        margin-bottom: 16px;
    }

    .footer-text {
    
        
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        width: 264px;
    
    }
    

    
    .texttext {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
        text-align: center;
    
    }

    .footerlist {
        display: flex;
            gap: 16px;
        }
    
    .iconlinklink {
       
            display: flex
            ;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
                cursor: pointer;
                background-color: #4d5ae5;
                border-radius: 50%;
            }
    
    
    
    .iconlinklink:hover {
    background-color: #31d0aa;
    }
    .iconlinklink:focus {
        background-color: #31d0aa;
    }
    .subscribe {
      
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
        text-align: center;
    
    }
    .form {
        display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0 auto;
        }
    
    .footerinput {
      
     border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    background-color: transparent;
    outline: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 16px;
    }
    .footerinput::placeholder {
        color: #ffffff;
    }
    .submit {
      
     display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    }  
    .fly {
        margin-left: 16px;
        fill: #fff;
    }

    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    
    
    }
    .backdrop.is-open {
        opacity: 1;
            visibility: visible;
            pointer-events: auto;
    }
    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 288px;
            min-height: 623px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
        background-color: #fcfcfc;
        border-radius: 4px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 24px 24px 24px;
    
    }
    .backdrop:not(.is-open) .modal {
    transform:translate(-50%, -50%), scale(1,5);
    }
    .modal-open {
        position: absolute;
        right: 24px;
        top: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-open:hover, .modal-open:focus {
        background-color: #404bbf;
        border: none;
        fill: #ffffff
    }
    
    .openx {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    .paragraf {
        font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            text-align: center;
            color: #2e2f42;
            margin-bottom: 16px;
    
    }
    .formform{
    
    margin-bottom: 8px
    
    }
    
    .label {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        display: block;
        margin-bottom: 4px;
    
    }
    .input {
        position: relative;
        width: 100%;
        height: 40px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent;
        padding-left: 38px;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    
    }
    .input:hover {
        border-color: #4D5AE5;
    }
    .modalperson {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .persona {
        position: relative;
    }
     
        .textarea {
            height: 120px;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: rgba(46, 47, 66, 0.4);
            border: 1px solid rgba(46, 47, 66, 0.4);
            border-radius: 4px;
            background-color: transparent;
            outline: transparent;
            padding: 8px 16px;
            resize: none;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            width: 100%;
            
        }
        
    
    .textarea:focus {
        border-color: #4D5AE5;
    }
    .block {
        margin-bottom: 16px
    }
    .box {
        margin-bottom: 24px;
    }
    
    
    
    .labellabel {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
    
    }
    
    .span-checbox {
        width: 16px;
        height: 16px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 2px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
    
    }
    .span-checbox:hover {
        background-color:#404bbf;
        border: none;
        fill:#F4F4FD;
        
        }
    .input:focus {
            border-color: #4D5AE5;
            
    }
    .input:focus+ .modalperson {
    fill: #4D5AE5;
    }
    
    .privat {
    color: #4d5ae5;
    
    }
    .buttonmodal {
        display: block;
        min-width: 169px;
        height: 56px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        background-color: #4D5AE5;
        border: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin: 0 auto;
    }
    
    
      